<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.montrealtransit.android.schedule.stmbus"
    android:versionCode="3"
    android:versionName="1.0.2"
    android:installLocation="auto">
    <!-- external storage works if USB not mounted! -->
    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="10" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:description="@string/app_desc" >
        <provider
            android:name=".StmBusScheduleProvider"
            android:authorities="org.montrealtransit.android.schedule.stmbus"
            android:exported="true" />
    </application>
</manifest>