<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.montrealtransit.android" android:versionName="1.5.2"
	android:versionCode="393" android:installLocation="auto">

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/><!-- use by the PayPal API -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!--  use by Analytics -->
	<!-- TraceView uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /-->
	<!-- mock location dev uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /-->
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10" />
	<supports-screens
		android:smallScreens="true" android:normalScreens="true" android:largeScreens="true"
		android:anyDensity="true" />

	<uses-feature android:name="android.hardware.location" android:required="false" />
	<uses-feature android:name="android.hardware.location.gps" android:required="false" />
	<uses-feature android:name="android.hardware.location.network" android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

	<application android:icon="@drawable/ic_launcher_icon" android:label="@string/app_name"
		android:description="@string/app_desc" android:theme="@android:style/Theme.NoTitleBar"
		android:debuggable="false">
		<meta-data android:name="android.app.default_searchable" android:value=".activity.SearchResult" />
		<!-- PROVIDERs -->
		<provider android:name=".provider.DataProvider" android:authorities="org.montrealtransit.android.data" />
		<provider android:name=".provider.StmProvider" android:authorities="org.montrealtransit.android" />
		<!-- MAIN SCREEN -->
		<activity android:name=".activity.MainScreen"
			android:label="@string/app_name" android:icon="@drawable/ic_launcher_icon"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="montransit" android:host="twitt" />
			</intent-filter>
		</activity>
		<!-- 4 TABs -->
		<activity android:name=".activity.FavListTab" />
		<activity android:name=".activity.BusStopCodeTab" />
		<activity android:name=".activity.BusLineListTab" />
		<activity android:name=".activity.SubwayTab" />
		<!-- BUS LINE INFO -->
		<activity android:name=".activity.BusLineInfo"
			android:configChanges="orientation|keyboardHidden" />
		<!-- BUS STOP INFO -->
		<activity android:name=".activity.BusStopInfo"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop">
			<intent-filter android:label="@string/viewBusStopInfo">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.item/vnd.org.montrealtransit.android.provider.busstopslivefolder" />
			</intent-filter>
		</activity>
		<!-- SUBWAY STATÍON INFO -->
		<activity android:name=".activity.SubwayStationInfo"
			android:configChanges="orientation|keyboardHidden" />
		<!-- SUBWAY LINE INFO -->
		<activity android:name=".activity.SubwayLineInfo"
			android:configChanges="orientation|keyboardHidden" />
		<!-- PREFERENCES -->
		<activity android:name=".activity.UserPreferences" />
		<!-- SEARCH RESULT ACTIVITY -->
		<activity android:name=".activity.SearchResult"
			android:theme="@android:style/Theme"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
		<!-- LIVE FOLDER -->
		<activity android:name=".activity.FavListLiveFolder"
			android:label="@string/favorite_bus_stop_live_folder_name_in_the_menu"
			android:icon="@drawable/ic_launcher_folder_live_favorites">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_LIVE_FOLDER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<!-- DONATE -->
		<activity android:name=".activity.DonateActivity"
			android:configChanges="keyboardHidden|orientation" />
		<!-- DONATE PAYPAL -->
		<activity android:name=".activity.DonatePayPalActivity"
			android:configChanges="keyboardHidden|orientation" />
		<!-- PAYPAL API -->
		<activity android:name="com.paypal.android.MEP.PayPalActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation" />
	</application>
	<!-- Used for install referrer tracking -->
	<receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver"
		android:exported="true">
		<intent-filter>
			<action android:name="com.android.vending.INSTALL_REFERRER" />
		</intent-filter>
	</receiver>
</manifest> 