<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.montrealtransit.android" android:versionName="1.7.8.11"
	android:versionCode="1040" android:installLocation="auto">

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!-- required for Google Analytics & Google Mobile Ads -->
	<uses-permission android:name="android.permission.NFC" /><!-- required for Android Beam -->
	<!-- TraceView <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> /-->
	<!-- mock location dev uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /-->
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10" />
	<supports-screens
		android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true"
		android:anyDensity="true" />

	<uses-feature android:name="android.hardware.location" android:required="false" />
	<uses-feature android:name="android.hardware.location.gps" android:required="false" />
	<uses-feature android:name="android.hardware.location.network" android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.hardware.nfc" android:required="false" />
	<uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
	<uses-feature android:name="android.hardware.sensor.compass" android:required="false" />

	<application android:icon="@drawable/ic_launcher_icon" android:label="@string/app_name"
		android:description="@string/app_desc" android:theme="@android:style/Theme.NoTitleBar"
		android:backupAgent=".services.BackupAgentHelper" android:allowBackup="true" android:hardwareAccelerated="true">
		<meta-data android:name="android.app.default_searchable" android:value=".activity.SearchResult" />
		<meta-data android:name="com.google.android.backup.api_key" android:value="@string/com_google_android_backup_api_key" />
		<!-- PROVIDERs -->
		<provider android:name=".provider.DataProvider" android:authorities="org.montrealtransit.android.data" android:exported="false" />
		<provider android:name=".provider.stmbus.StmBusProvider" android:authorities="org.montrealtransit.android.stmbus" android:exported="false" />
		<provider android:name=".provider.stmsubway.StmSubwayProvider" android:authorities="org.montrealtransit.android.stmsubway" android:exported="false" />
		<provider android:name=".provider.stmsubway.schedule.StmSubwayScheduleProvider" android:authorities="org.montrealtransit.android.schedule.stmsubway" android:exported="false" />
		<provider android:name=".provider.stmbus.schedule.StmBusLiveScheduleProvider" android:authorities="org.montrealtransit.android.live.stmbus" android:exported="false" />
		<provider android:name=".provider.BixiProvider" android:authorities="org.montrealtransit.android.bixi" android:exported="false" />
		<!-- SPLASH SCREEN -->
		<activity android:name=".activity.SplashScreen"
			android:label="@string/app_name" android:icon="@drawable/ic_launcher_icon"
			android:configChanges="orientation|keyboardHidden"
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!-- MAIN SCREEN -->
		<activity android:name=".activity.MainScreen"
			android:label="@string/app_name" android:icon="@drawable/ic_launcher_icon"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask">
		</activity>
		<!-- 4 TABs -->
		<activity android:name=".activity.FavListTab" />
		<activity android:name=".activity.BusStopCodeTab" />
		<activity android:name=".activity.BusTab" android:configChanges="orientation|keyboardHidden" />
		<activity android:name=".activity.v4.BusTab" android:configChanges="orientation|keyboardHidden" />
		<activity android:name=".activity.SubwayTab" android:configChanges="orientation|keyboardHidden" />
		<activity android:name=".activity.BikeTab" android:configChanges="orientation|keyboardHidden" />
        <!-- ROUTE INFO -->
        <activity
            android:name=".activity.RouteInfo"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".activity.v4.RouteInfo"
            android:configChanges="orientation|keyboardHidden" />
        <!-- STOP INFO -->
        <activity
            android:name=".activity.StopInfo"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
            <!--
            TODO NFC <intent-filter android:priority="-101">
			  <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
			  <category android:name="android.intent.category.DEFAULT"/>
			  <data android:mimeType="application/org.montrealtransit.android.stop"/>
			</intent-filter>
            -->
        </activity>
		<!-- BIKE STATÍON INFO -->
		<activity android:name=".activity.BikeStationInfo"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" />
		<!-- PREFERENCES -->
		<activity android:name=".activity.UserPreferences" />
		<!-- SEARCH RESULT ACTIVITY -->
		<activity android:name=".activity.SearchResult"
			android:theme="@android:style/Theme"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
		<!-- GOOGLE MOBILE ADS ACTIVITY -->
		<activity android:name="com.google.android.gms.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
		<!-- GOOGLE PLAY SERVICES -->
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest> 